@import "tailwindcss";

@theme {
    --color-primary: #10B981;
    --color-primary-dark: #059669;
    --color-secondary: #F59E0B;
}

body {
    background-color: #f3f4f6;
    color: #1f2937;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}